/* Proximos Cursos */
.proxCursos{
  margin-top: 8%;
}

.proxCursos__texto{
  font-size: 4rem;
  text-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #fff;
}

/* Cursos General */
.cursos{
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cursos Filas */
.cursos__fila{
  margin-bottom: 5%;
  display: flex;
  width: 80%;
  height: 300px;
  justify-content: space-evenly;
}

/* Cursos Imagenes */
.cursos__contenedor__img {
  width: 40%;
  height: 100%;
}

.cursos__contenedor__1 {
  width: 100%;
  height: 100%;
  background-image: url(../multimedia/cursos/curso-flash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2%;
}

.cursos__contenedor__2 {
  width: 100%;
  height: 100%;
  background-image: url(../multimedia/cursos/curso-fotografia.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2%;
}

.cursos__contenedor__3 {
  width: 100%;
  height: 100%;
  background-image: url(../multimedia/cursos/curso-nweborn.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2%;
}

.cursos__contenedor__4 {
  width: 100%;
  height: 100%;
  background-image: url(../multimedia/cursos/curso-photoshop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2%;
}

/* Cursos Contenedor */
.cursos__caja{
  background-color: $beige;
  box-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #fff;
  border-radius: 2%;
  margin: 0px 10px;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Cursos Titulo */
.cursos__titulo{
  text-align: center;
  color: $negro;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
}

/* Cursos Descripción */
.cursos__parrafo{
  background-color: transparent;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: $negro
}

/* Boton */
.cursos__boton{
  color: $negro;
  background-color: $amarillo;
  align-self: center;
  margin-bottom: 5%;
}

a.cursos__boton:hover{
  transform: scale(1.1, 1.1);
  transition: filter 1s;
  transition: transform 1s;
}

@media screen and (max-width:780px) {
  .cursos{
    height: auto;
  }
  .cursos__fila{
    flex-direction: column;
    width: 80%;
    height: auto;
  }
  .cursos__contenedor__img {
    float: left;
    width: 100%;
    height: 20em;
    z-index: 1;
    > div{
      height: 100%;
      width: 100%;
    }
  }

  .cursos__caja{
    float: left;
    width: 100%;
    margin: 0px;
  } 

  .proxCursos__texto{
    text-align: center;
    margin-top: 10%;
  }
}