/* Servicios (BEM) */
.servicios{
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Servicios Contenedor Section (BEM) */
.servicios__caja{
    background-color: $beige;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #fff;
}

/* Servicios Imagenes (BEM) */
.servicios__img{
    background-color: transparent;
    height: auto;
    padding-top: 20px;
    width: 60%;
}

/* Servicios Titulo (BEM) */
.servicios__titulo{
    text-align: center;
    color: $negro;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $beige;
}

/* Servicios Descripción (BEM) */
.servicios__parrafo{
    background-color: transparent;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Cursor */
.servicios__cursor{ 
    cursor: pointer;
}

/* Boton Modal */
.servicios__botonModal{
    color: $blanco;
    background-color: $azul;
}

a.servicios__botonModal:hover{
    color: $azul;
    background-color: $beige;
    font-weight: bold;
}

/* Body Modal */
.servicios__bodyModal{
    background-color: $beige;
    color: $negro;
}

/* Body Modal */
.servicios__tituloModal{
    background-color: $tierra;
    color: $negro;
    font-size: 1.5rem;
}

/* Pie Modal */
.servicios__pieModal{
    background-color: $tierra;
}



